<h1><%= current_user.first_name + " " + current_user.last_name %></h1>
<%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
<p><%= current_user.email %></p>
<p><%= current_user.address %></p>
