<div class="page-container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel-profile">
        <div class="media-photo">
        <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="col-md-9">
          <%= current_user.first_name + " " + current_user.last_name %>
          <p><%= current_user.email %></p>
          <p><%= current_user.address %></p>
        </div>
      </div>
    </div>
  </div>
</div>
