<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% if @user %>
<p><%= link_to 'New Board', new_user_board_path(@user), class:"btn btn-primary" %></p>
<% end %>
<p><%= link_to 'View all Boards', boards_path, class:"btn btn-primary" %></p>
</body>
</html>
