  <% @boards.each do |board|%>

  <div class="col-sm-6 col-md-4">
    <ul>
      <li>
        <%= cl_image_tag(board.photo) %>
        <br>
        <%= board.description %>
        <br>
        <%= board.price %>
        <br>
        <%= board.category %>
      </li>
    </ul>
  </div>
  <% end %>
