.form-inputs {
  font-size: 12px;
}

.signup {
  text-decoration: none;
  background-color: #8377D1;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  width: 110px;
  height: 50px;
}

.signup:hover {
  text-decoration: none;
  background-color: #573280;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
}

.btn-fbb {
  font-size: 14px;
  text-align: center;
  background-color: #3B5998;
  color: #fff;
  border-radius: 4px;
  height: 50px;
  text-decoration: none;
}

.btn-fbb:hover {
  font-size: 14px;
  text-align: center;
  background-color: #4568b2;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
