// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-profile {
  margin-bottom: 25px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
